@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
  box-sizing: border-box;
  
}

.navresume {
  background-color: #ff004f;
  padding: 8px 22px;
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
}

.navresume:hover {
  color: #fff;
}

#home {
  width: 100%;
  height: 100vh;
  background-size: cover;
  /* background: url(../image/homefinal.png); */
}
.nav-link {
  padding: 20px 20px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  background-color: grey;
  padding: 10px 20px;
  /* border-radius: 0 0 10px 10px; */
  z-index: 100;
  position: fixed;
  overflow: hidden;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
}
#logo {
  color: var(--red);
  cursor: pointer;

  /* margin-left: 22px; */
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a:hover {
  color: var(--red);
}
nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: var(--red);
  position: absolute;
  left: 0px;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
#navresume :hover::after {
  width: 0%;
}
/* ////////////////Header Image */
#home {
  display: grid;
  grid-template-columns: 60% 30%;
  justify-content: space-around;
  align-items: center;
}
#home img {
  height: 100%;
  /* border-radius: 50%; */
}


#image {
  /* border: 1px solid red; */
  height: 400px;
  width: 400px;
  /* border-radius: 10%; */
  overflow: hidden;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* Image End ............................................... */

.header-text {
  margin-left: 22px;
  margin-top: 20%;
  font-size: 30px;
}
.header-text > h2 {
  color: var(--red);
  font-size: 60px;
  margin-top: 16px;
}
h1 {
  color: #ff004f;
}

/* ////////////////////////About  */

#about {
  padding: 80px 0px;
  color: var(--red);
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: auto;
}
/* .about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
} */
.about-col-2 {
  width: 100%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  margin: auto;
  text-align: center;
  font-family: "Arima", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.tab-titels {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0px;
  bottom: -6px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: large;
}
.tab-contents ul li span {
  color: var(--span);
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
#about p {
  color: var(--white);
}
#about-text {
  width: 100%;
  text-align: justify;
}

#contact {
  padding: 80px 0px;
}

#skills {
  padding: 80px 0px;
  width: 95%;
  margin: auto;
  /* margin-bottom: 30px; */
}
.skills-card{
  border: 2px solid blue;
  background-color: #319da0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-between;
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background: var(--icon);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;

  transition: background 0.5s, transform 0.5s;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 20px;
}
.services-list div:hover {
  background: var(--red);
  /* transform: scale(1.1); */
  transform: translateY(-8px);
}
/* ////////////////////////portfolio/////////////// */

#projects {
  padding: 80px 0px;
  width: 95%;
  margin: auto;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: space-between;
  grid-gap: 40px;
  margin-top: 50px;
}


/* .work:hover .layer {
  height: 100%;
} */
.layer a i {
  margin-top: 10px;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
#resumedown {
  padding: 8px 25px;
  font-weight: 500;
  font-size: 18px;
}
.btn3 {
  background: #ff004f;
}
.btn:hover {
  background: #ff004f;
}
/* //////////////////////contact/////////////// */
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 10px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: var(--white);
  /* background: transparent; */
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px;
  /* background: var(--black); */
  margin-top: 20px;
}
.copyright i {
  color: #ff004f;
}

nav .fa-solid {
  display: none;
}

.try {
  width: 70%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.calendar .contrib-number {
  font-weight: 300;
  color: #ff004f;
}

/* ///////////////////////////////////   css for small screen */

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .layer {
    height: 30%;
  }
  .layer h3 {
    font-size: 16px;
  }
  .layer p {
    font-size: 12px;
  }
  .layer i {
    font-size: 14px;
  }
}
@media screen and (min-device-width: 200px) and (max-device-width: 480px) {
  .layer {
    height: 55%;
  }
  .layer h3 {
    font-size: 16px;
  }
  .layer p {
    font-size: 12px;
  }
  .layer i {
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px) {
  nav {
    /* background-color: transparent; */
    border-radius: 0;
  }
  #resumedown {
    display: none;
  }
  #user-detail-intro {
    font-size: 40px;
  }
  
  .header-text {
    margin-top: 50%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #319da0;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 20px;
  }
  #toggle {
    margin: 20px;
  }
  nav ul .fa-bars {
    position: absolute;
    top: 25px;
    left: 90%;
    cursor: pointer;
  }
  nav ul .fa-xmark {
    position: absolute;
    top: 25px;
    left: 10%;
    cursor: pointer;
  }
  .calendar {
    display: none;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-top: 15px;
    margin-right: auto;
  }
  .tab-titels {
    width: 100%;
    margin: auto;
  }

  .work-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    grid-gap: 40px;
    margin-top: 50px;
  }

  .layer h3 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
  }
  .layer p {
    color: #fff;
    font-size: 13px;
  }
  .layer a {
    margin-top: 10px;
    color: green;
    text-decoration: none;
    font-size: 20px;
    /* line-height: 40px; */
    /* background: #fff; */
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  #home {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
  }
  .container1 {
    width: 90%;
    height: 60%;
  }
  #image {
    width: 300px;
    height: 300px;
    margin-top: 10px;
    background-image: url(/image/Ranjeet.png);
  }
}
#msg {
  color: #319da0;
  margin-top: 0px;
  display: block;
  text-align: center;
}

/* //////////////////////////////// */

.githubstats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
  width: 100%;
}
.githubmain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}
#pro-card{
  color: black;
}






#Git{

  /* border: 2px solid green; */
  text-align: center;
  margin-top: 50px;
}

#Git h1{

  margin-bottom: 30px;
}

#Git p{

  align-items: space-between;
}
  #Status{
      
      /* border: 2px solid yellow; */
      display: grid;
      grid-template-columns: repeat(2,1fr);
      justify-content: center;
      align-items: center;
      width: 60%;
      margin: auto;
      margin-bottom: 20px;
  }

  #status2{

      margin-left: 20px;
  }